<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282200394793-2umb7nsgivcvmi70pd6t3ueubnbgjcie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282200394793-2umb7nsgivcvmi70pd6t3ueubnbgjcie</string>
	<key>API_KEY</key>
	<string>AIzaSyDNIi7itzUppOkGmbEVpMYGTLavog6594Q</string>
	<key>GCM_SENDER_ID</key>
	<string>282200394793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Maitree.KidsActivities</string>
	<key>PROJECT_ID</key>
	<string>kidsactivities-916ae</string>
	<key>STORAGE_BUCKET</key>
	<string>kidsactivities-916ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282200394793:ios:2d01612d32d18358522038</string>
	<key>DATABASE_URL</key>
	<string>https://kidsactivities-916ae.firebaseio.com</string>
</dict>
</plist>